@charset "UTF-8";
/*****************************************
 * 数値から単位を取り除く
 * 参考
 * https://css-tricks.com/snippets/sass/
******************************************/
/*****************************************
 * px→remの計算
 * 参考
 * https://webdou.net/sass-rem/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
/*****************************************
 * vwの計算
 * 参考
 * https://webdou.net/sass-vw/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
.layout-single-interview {
  margin-top: 15rem;
}

@media screen and (max-width: 767px) {
  .interview-mv__img {
    padding-top: 6.25rem;
    height: 205px;
    box-sizing: content-box;
  }
}

.interview-mv__img img {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .interview-mv__contents {
    bottom: unset;
  }
}

@media screen and (max-width: 767px) {
  .interview-mv__age {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 767px) {
  .interview-mv__name {
    margin-top: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  #archive-interview .interview {
    margin-bottom: 0;
  }
}

#archive-interview .interview-list__item-title {
  font-size: 1.5rem;
}
@media screen and (max-width: 767px) {
  #archive-interview .interview-list__item-title {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  #archive-interview .interview-list__item-name {
    margin-top: 1rem;
  }
}

#archive-interview .interview__bg-left {
  background-size: contain;
  background-image: url(../images/bg-interview-left.svg);
  top: 98%;
  left: -8%;
}
@media screen and (max-width: 767px) {
  #archive-interview .interview__bg-left {
    display: none;
  }
}

#archive-interview .interview__bg-left-second {
  background-size: contain;
  background-image: url(../images/bg-interview-left.svg);
  top: 448%;
  left: -8%;
}
@media screen and (max-width: 767px) {
  #archive-interview .interview__bg-left-second {
    top: 507%;
    left: -21%;
    width: 10.75rem;
    height: 10.625rem;
  }
}

#archive-interview .interview__bg-right, #archive-interview .interview__bg-right-second {
  width: 10.1875rem;
}

#archive-interview .interview__bg-right {
  top: 227%;
  right: 0;
}

#archive-interview .interview__bg-right-second {
  top: 541%;
  right: 0;
}
@media screen and (max-width: 767px) {
  #archive-interview .interview__bg-right-second {
    width: 5.3125rem;
    height: 8.125rem;
    top: 695%;
  }
}

#archive-interview .interview-list__btn .button-text {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  #single-interview .recruit-member__icon {
    right: 16%;
  }
}

.treat.bg-water {
  top: 13%;
  left: -6%;
}
@media screen and (max-width: 767px) {
  .treat.bg-water {
    top: 33%;
    left: -12%;
    height: 24%;
    width: 38%;
  }
}

.treat.bg-water2 {
  top: 57%;
  right: -11%;
}
@media screen and (max-width: 767px) {
  .treat.bg-water2 {
    top: 60%;
    right: -18%;
    height: 36%;
    width: 38%;
  }
}

#single-interview .interview__bg-left-second {
  background-size: contain;
  background-image: url(../images/bg-interview-left.svg);
  top: 98%;
  left: -8%;
}

#single-interview .interview__bg-left {
  background-size: contain;
  background-image: url(../images/bg-interview-left.svg);
  top: 448%;
  left: -8%;
}

#single-interview .interview__bg-left {
  top: 40%;
  left: -10%;
}

@media screen and (max-width: 767px) {
  #single-interview .schedule__icon {
    width: 21.5625rem;
    height: 10.375rem;
    bottom: 4%;
    right: -7%;
  }
}

@media screen and (max-width: 767px) {
  #single-interview .layout-schedule {
    padding-bottom: 10rem;
  }
}

#single-interview .interview-mv__img {
  max-height: 720px;
}

#single-interview .interview-mv__img img {
  max-height: 720px;
}

#single-interview .bg-water2 {
  width: 17.875rem;
  height: 13.4375rem;
  right: -10%;
  top: 88%;
  z-index: -3;
}
@media screen and (max-width: 767px) {
  #single-interview .bg-water2 {
    width: 12.1875rem;
    height: 9.125rem;
    right: -10%;
    top: 88%;
  }
}

#single-information .news-list__item {
  padding-bottom: 0;
  border-bottom: 1px solid #dadee2;
}
@media screen and (max-width: 767px) {
  #single-information .news-list__item {
    padding-top: 1.5rem;
  }
}

#single-information .inner .detail-nav__btn {
  margin-bottom: 0;
}

#single-information .detail-nav__btn {
  margin-bottom: 12.5rem;
}

#single-information .btn-arrow-right--reverse {
  max-width: 16.125rem;
}

@media screen and (max-width: 767px) {
  #single-information .btn-arrow-right--reverse .button {
    gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  #single-information .sub-news-list__menu-item {
    flex-shrink: 0;
  }
}

#single-information .sub-news-list__news.news .news-list__item a {
  padding: 1.5rem 0;
}

#single-information .sub-news-list__news.news .news-list__item:first-child a {
  padding-top: 0;
}

#single-information .news-list__item + .news-list__item {
  margin-top: 0;
  padding-block: 0;
}

#single-information .wp-pagenavi .extend:last-of-type {
  display: none;
}

@media screen and (max-width: 767px) {
  #single-information .news__list.news__list--infomation {
    border-top: none;
  }
}

@media screen and (max-width: 767px) {
  #single-information .pagenavi {
    margin-bottom: 0;
  }
}

#contact-input .form__submit p .wpcf7-form-control {
  background-color: #f2950b;
}

#single-product .product-list__item {
  padding: 2rem;
}

@media screen and (max-width: 767px) {
  .detail__item .detail__link {
    font-size: 0.8125rem;
  }
}

@media screen and (max-width: 767px) {
  .detail-head__title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  #single-information .layout-detail {
    margin-top: 1.5rem;
  }
}

.group__wrap {
  height: 51.1805555556vw;
}

.group01 {
  left: clamp(8%, (93vw - 1025px) / 2, 12.8%);
}

.group02 {
  left: clamp(238px, (125vw - 1025px) / 2, 27.8%);
}

.group03 {
  left: clamp(476px, (156vw - 1025px) / 2, 46%);
}

.group04 {
  left: clamp(419px, (257vw - 1025px) / 2, 77.7%);
}

.group05 {
  left: clamp(100px, (116vw - 1025px) / 2, 17.9%);
}

.group06 {
  left: clamp(321px, (153vw - 1025px) / 2, 34.5%);
}

.group07 {
  left: clamp(430px, (197vw - 1025px) / 2, 53%);
}

.group08 {
  left: clamp(1196px, (250vw - 1025px) / 2, 91.3%);
}

.group09 {
  left: clamp(10px, (133vw - 1025px) / 2, 12.9%);
}

.group10 {
  left: clamp(72px, (159vw - 1025px) / 2, 34.5%);
}

.group11 {
  left: clamp(30px, (172vw - 1025px) / 2, 44.3%);
}

.group12 {
  left: clamp(285px, (225vw - 1025px) / 2, 61%);
}

.group13 {
  left: clamp(415px, (280vw - 1025px) / 2, 73%);
}

.group14 {
  left: clamp(150px, (100vw - 1025px) / 2, 10.8%);
}/*# sourceMappingURL=style.css.map */