@charset "UTF-8";
/*=========================================================================
# スクロールバー用スタイル
========================================================================== */
@media (max-width: 360px) {
  .strength-list__item-title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .strength-list__item:nth-of-type(even) .strength-list__item-text-wrap {
    margin-right: 0;
    padding-left: 16px;
    margin-inline: auto;
  }
}
.strength-list__item-img {
  width: 90%;
  margin-left: unset !important;
  max-width: 740px;
}

@media screen and (max-width: 767px) {
  .company-logos {
    margin-top: -2px;
    padding-bottom: 56px;
  }
}
.strength-list__item:nth-of-type(odd) .strength-list__item-img img {
  padding-right: 0px;
}

.sdgs-theme__item:nth-of-type(3) .sdgs-theme__item-contents-bg {
  top: 5%;
}

.sdgs-theme {
  overflow: hidden;
  padding-bottom: 14.125rem;
}

.sdgs-theme__item-contents-bg .bg-water {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layout-sdgs-declare {
  margin-top: 0;
}

.sdgs-declare__btn .button-container {
  width: 350px;
}

.company-group__content-inner .company__profile .company-profile__list:not(:first-child) {
  padding-top: 2.1875rem;
}

.company-profile__description a {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #2F2F2F;
  line-height: 1.1;
}

.company-history__number {
  color: #12929D;
}

.company-heading .heading__inner {
  max-width: 78rem;
  padding-inline: 20px;
}

.company-history .swiper-slide {
  flex-shrink: 0;
  width: auto;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.price__table-wrapper .simplebar-scrollbar::before {
  background-image: url(../images/detail/company-button.svg) !important;
}

.company-massage__img {
  border-radius: 0 0.5rem 0.5rem 0;
}

.company-vision {
  background-color: #F0FAFB;
}

.layout-company-vision {
  margin-top: 0;
}

.company-vision .bg-ball {
  position: absolute;
  background-image: url(../images/bg-ball.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 217px;
  height: 217px;
  z-index: 20;
  top: -43%;
  left: -95px;
}

.company-vision .bg-water {
  position: absolute;
  background-image: url(../images/bg-water.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 298px;
  height: 224px;
  z-index: 20;
  top: -43%;
  left: -86px;
}

.company-vision__contents {
  display: flex;
  margin-top: 4.125rem;
  justify-content: space-between;
}

.company.layout-company {
  position: relative;
}

.company.layout-company .bg-water3 {
  position: absolute;
  background-image: url(../images/bg-water.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 198px;
  height: 124px;
  z-index: 20;
  top: -43%;
  right: -5px;
  transform: rotate(180deg);
}

.company.layout-company .bg-water4 {
  position: absolute;
  background-image: url(../images/bg-water.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 205px;
  height: 179px;
  z-index: 20;
  bottom: -20%;
  left: 0px;
}

.company-plan {
  position: relative;
}

.company-plan .bg-water5 {
  position: absolute;
  background-image: url(../images/bg-water.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 198px;
  height: 124px;
}

.company-group {
  position: relative;
}

.company-group .bg-ball {
  position: absolute;
  background-image: url(../images/bg-ball.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 217px;
  height: 217px;
  z-index: 20;
  bottom: -70px;
  right: -95px;
}

.company-group .bg-water {
  position: absolute;
  background-image: url(../images/bg-water.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 258px;
  height: 204px;
  z-index: 20;
  bottom: -32px;
  right: 22px;
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .company-group__content-inner {
    width: 86.6%;
    margin-right: auto;
    margin-left: auto;
  }
}
.company-group__content {
  border-radius: 8px;
}

@media screen and (max-width: 767px) {
  .company-access__tab.tab .tab__content-item {
    width: 1000px;
    height: 292px;
  }
}
.company-history {
  position: relative;
}

.company-history .bg-water {
  position: absolute;
  background-image: url(../images/bg-water.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 205px;
  height: 179px;
  top: -22%;
  right: -60px;
}

.company-heading .heading__inner {
  max-width: 78.125rem;
  padding-inline: 0;
}

.menu__inner.inner {
  padding-inline: 0;
}

.company-heading.heading .heading__inner.inner {
  /* width: 99%; */
  padding-inline: 0;
}

.company-massage__title.sub-title {
  font-size: 1.6875rem;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 400;
  margin-left: 6rem;
}

.service__swiper.history-swiper {
  margin-top: 4rem !important;
  max-width: 1320px;
  overflow: visible;
  margin-left: auto;
}

.price__table-wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 100vw;
}

.simplebar-content-wrapper {
  border-radius: 8px 0 0 8px;
}

.service__swiper.history-swiper {
  margin-top: 4rem !important;
  max-width: 78.125rem;
  width: 90%;
}

.company-history__list {
  background-color: #fff;
  margin-top: 1.5rem;
}

@media screen and (max-width: 767px) {
  .company-history__number {
    display: flex;
    align-items: center;
    gap: 0.6875rem;
    padding-bottom: 1.9375rem;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 1;
    color: #87b2bd;
    margin-right: 1.25rem;
  }
}
@media screen and (max-width: 767px) {
  .company-history__number::after {
    width: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .company-history__item {
    padding-left: 0.5375rem;
    padding-right: 0.9375rem;
    flex-shrink: 0;
    width: 12.5rem;
  }
  .company-history__number span {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 1;
    color: #87b2bd;
  }
}
@media screen and (max-width: 767px) {
  .company-history__number {
    display: flex;
    align-items: center;
    gap: 0.6875rem;
    padding-bottom: 1.9375rem;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 1;
    color: #12929D;
    margin-right: 1.25rem;
  }
}
@media screen and (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 40rem;
  }
}
@media screen and (max-width: 767px) {
  .faq-list__item-question::before, .faq-list__item-question::after {
    top: 50%;
    transform: translateY(-50%);
    width: 1.125rem;
  }
  .faq-list__item-question::after {
    rotate: 90deg;
  }
  .faq-list__item-question.is-open::after {
    transform: rotate(0deg);
    rotate: 0deg;
  }
}
.recruit-about {
  padding-bottom: 22.5rem;
  margin-bottom: -15rem;
  margin-top: -4px;
}

.sub-recruit-desc__title span {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1.6;
  background-color: #45b4bd;
  color: #ffffff;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 2px;
}

.sub-recruit-desc__contents::after {
  width: 16.25rem;
  height: 16.25rem;
}

@media screen and (max-width: 767px) {
  .sub-recruit-desc__img {
    top: 78%;
    height: 11.25rem;
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .sub-recruit-desc__contents::after {
    width: 10.25rem;
    height: 10.25rem;
    bottom: -52%;
  }
  .recruit-heading___btn {
    display: none;
  }
}
.recruit-member__icon {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1;
  display: inline-block;
  padding: 0.5rem 0.625rem;
  background-color: #3dc176;
  color: #ffffff;
  border-radius: 0.25rem;
  position: absolute;
  bottom: 4%;
  right: 10%;
}

.recruit-member__swiper {
  margin-top: 3.5rem;
}

.swiper-slide {
  margin-right: 0 !important;
}

.js-recruit-member-swiper {
  overflow: visible !important;
  width: 82%;
}

.swiper-wrapper {
  position: relative;
  height: 100%;
  z-index: 1;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.recruit-member .swiper-slide a {
  display: block;
  width: 90%;
  margin-inline: auto;
}

@media screen and (max-width: 767px) {
  .js-service-swiper {
    width: 326px;
    overflow: visible;
  }
}
.tab__menu {
  display: flex;
  flex-direction: column;
  border: #aeb8c2 1px solid;
  border-radius: 0.5rem;
  max-width: 15rem;
}

.recruit-question__tab .tab {
  display: flex;
  justify-content: space-between;
}

.recruit-question__tab.tab .tab__menu-item {
  padding-left: 2.125rem;
}

.recruit-question__tab.tab .tab__menu-item::before {
  left: 0.9rem;
}

@media screen and (max-width: 767px) {
  .recruit-question__tab.tab .tab__menu {
    border: none;
    max-width: none;
    justify-content: center;
  }
}
.recruit-question__tab.tab .tab__menu-item {
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .recruit-question__tab.tab .tab__menu {
    border: none;
    max-width: none;
    /* justify-content: center; */
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 0.5rem 1.625rem;
  }
}
.recruit-question__tab.tab .tab__menu-item {
  padding-left: 0;
  display: block;
  /* margin-inline: auto; */
  text-align: center;
  color: #999999;
  font-weight: 500;
}

.recruit-question__tab.tab {
  display: flex;
  justify-content: space-between;
}

.recruit-question__tab.tab .tab__menu-wrap {
  padding: 0;
}

.tab__menu-item.is-active {
  font-weight: 700;
}

.guideline__tab.tab .tab__menu-item.is-active, .recruit-question__tab.tab .tab__menu-item.is-active {
  left: 0;
  color: #77bcc2;
  font-weight: 700;
}

.recruit-question {
  background-color: #ffffff !important;
}

.sub-recruit__title {
  border-radius: 4px;
}

.button:hover .button-icon,
.button-container:hover .button-icon,
.about__item:hover .button-icon,
.button-wrap:hover .button-icon,
.product-list__item:hover .product-list__btn .button-icon,
.division-others__item:hover .division-others__item-btn .button-icon,
.detail-item:hover .detail-item__btn .button-icon,
.works-list__item:hover .works-list__btn .button-icon,
.guideline__btn:hover .button-icon {
  transform: scale(1.2);
  transition: 0.5s;
}

.button-text {
  font-size: 0.875rem;
  color: #2f2f2f;
  font-weight: 500;
  transition: 0.5s;
}

.button-container:hover .button-text {
  color: #ffa500;
  font-weight: 700;
  transition: 0.5s;
}

.treat.bg-water {
  top: 13%;
  left: -6%;
}

@media screen and (max-width: 767px) {
  .treat.bg-water {
    top: 33%;
    left: -12%;
    height: 24%;
    width: 38%;
  }
}
.treat.bg-water2 {
  top: 57%;
  right: -11%;
}

@media screen and (max-width: 767px) {
  .treat.bg-water2 {
    top: 60%;
    right: -18%;
    height: 36%;
    width: 38%;
  }
}
.button-container--orange {
  background-color: #F2950B;
}

.button-icon--orange {
  background-color: #fff;
}

.arrow--orange {
  color: #F2950B;
}

.button-text--orange {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .sub-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .strength-list__item:nth-of-type(even) .strength-list__item-img {
    margin-left: auto !important;
  }
}
@media (max-width: 767px) {
  .strength-list__item:nth-of-type(even) .strength-list__item-img img {
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */