@use "../foundation" as *;

.company-heading.heading .heading__inner.inner {
  width: 99%;
  padding-left: prem(10);
  padding-right: prem(10);
}

.sub-title {
  font-size: prem(28);
  letter-spacing: 0.04em;
  line-height: 1.2;
  font-weight: $regular;
}

.company-massage__title.sub-title {
  font-size: prem(27);
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: $regular;
  margin-left: prem(119);

  @include mq("md") {
    letter-spacing: -0.06em;
    font-size: prem(25);
    margin-left: prem(17);
    padding-left: prem(27);
  }
}

.layout__menu {
  margin-top: prem(118);

  @include mq("md") {
    margin-top: prem(97);
  }
}

.menu__list {
  background-color: $color-gray01;
  display: grid;
  gap: prem(14) prem(57);
  grid-template-columns: repeat(4, 1fr);
  padding: prem(37) prem(76);

  @include mq("md") {
    padding-top: prem(19);
    padding-left: prem(40);
    padding-right: prem(40);
    grid-template-columns: repeat(1, 1fr);
    margin-top: prem(0);
    gap: 0;
  }
}

.menu__item+.menu__item {
  @include mq("md") {
    padding-top: prem(0);
  }
}

.menu__inner.inner {
  max-width: prem(1250);

  @include mq("md") {
    max-width: prem(364);
  }
}

.menu__item {
  position: relative;
  width: 100%;
  max-width: prem(224);

  @include mq("md") {}
}

.menu__item a {
  display: inline-block;
  padding: prem(25) prem(0) prem(25) prem(0);
  width: 100%;

  @include mq("md") {
    padding: prem(25) prem(0) prem(20) prem(0);
  }
}

.menu__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, $color-blue3 20%, rgba(190, 200, 201, 0.3) 20%);
}

.menu__button {
  position: relative;
  font-size: prem(14);
  line-height: 0;
  letter-spacing: 0.08em;

  @include mq("md") {
    letter-spacing: 0.04em;
  }
}

.menu__arrow {
  position: absolute;
  top: 50%;
  right: prem(11);
  width: prem(8);
  height: prem(8);
  border-top: prem(2) solid #000;
  border-right: prem(2) solid #000;
  transform: translateY(-50%) rotate(135deg);
  transition: 0.3s;

  @include mq("md") {
    right: prem(16);
  }
}

.company__inner.inner {
  max-width: prem(1250);
}

.company__profile-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: prem(64);

  @include mq("md") {
    flex-direction: column;
    margin-top: prem(23);
  }
}

.company__profile {
  max-width: prem(560);
  width: 100%;
}

.company__profile+.company__profile {}

.company__profile:nth-child(2) {
  border-top: 1px solid $color-gray04;

  @include mq("md") {
    border: none;
  }
}

.company-profile__list {
  padding-bottom: prem(35);
  padding-top: prem(35);
  display: flex;
  font-size: prem(13);
  line-height: 1.3;
  letter-spacing: 0.08em;
  border-bottom: 1px solid $color-gray04;
  align-items: center;

  @include mq(md) {
    padding-bottom: prem(25);
    font-size: prem(16);
    flex-direction: column;
  }
}

.company__profile-wrap>.company__profile:first-child>.company-profile__list:first-child {
  padding-top: prem(34);
  border-top: 1px solid $color-gray04;

  @include mq("md") {
    padding-top: prem(21);
  }
}

// .company-profile__list + .company-profile__list {
//   margin-top: prem(15);
//   @include mq(md) {
//     margin-top: prem(25);
//   }
// }

.company-profile__list {

  // margin-top: prem(15);
  @include mq(md) {
    // margin-top: prem(25);
  }
}

.company-profile__term {
  max-width: prem(175);
  width: 100%;
  flex-shrink: 0;
  color: $color-blue3;
  font-size: prem(16);
  font-weight: $bold;
  letter-spacing: 0.04em;

  @include mq(md) {
    max-width: prem(140);
    margin-right: auto;
  }
}

.company-profile__description {
  font-size: prem(16);

  @include mq("md") {
    margin-right: auto;
    margin-top: prem(17);
  }
}

.company-profile__description a {
  display: flex;
  align-items: center;
}

.company-massage {}

.layout-company-message {
  margin-top: prem(111);

  @include mq("md") {
    margin-top: prem(84);
  }
}

.company-massage__inner.inner {
  max-width: prem(1250);
}

.company-massage__img {
  margin-top: prem(65);
  text-align-last: left;
  width: 75%;
  overflow: hidden;
  border-radius: prem(8);

  @include mq("md") {
    margin-top: prem(36);
    width: 88%;
  }
}

.company-massage__img img {
  aspect-ratio: 1080/560;
  object-fit: cover;
  height: auto;
}

.company-massage__contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: auto;
  margin-left: auto;
  padding-left: $padding-pc;
  padding-right: $padding-pc;
  max-width: prem(1128);
  margin-top: prem(101);

  @include mq("md") {
    flex-direction: column;
    margin-top: prem(33);
    padding-left: prem(15);
    padding-right: prem(15);
  }
}

.company-massage__content-title-wrap {
  max-width: prem(440);
  width: 100%;

  @include mq("md") {
    display: contents;
  }
}

.company-massage__contents-title {
  font-size: prem(27);
  font-weight: $regular;
  letter-spacing: 0.05em;
  line-height: 1.85;
  font-family: $font-family-second;
  font-feature-settings: "palt";

  @include mq("md") {
    letter-spacing: 0.04em;
    font-size: prem(20);
    letter-spacing: 0.03;
    line-height: 1.8;
  }
}

.company-massage__contents-name {
  margin-top: prem(40);
  font-size: prem(16);
  font-weight: $regular;
  letter-spacing: 0em;
  line-height: 1.6;

  @include mq("md") {
    margin-top: prem(25);
    order: 1;
    margin-left: auto;
    font-size: prem(12);
  }
}

.company-massage__contents-name span {
  font-family: $font-family-second;
  font-size: prem(24);
  line-height: 1.6;

  @include mq("md") {
    font-size: prem(21);
    margin-left: prem(18);
  }
}

.company-massage__content-text-wrap {
  max-width: prem(486);
  width: 100%;

  @include mq("md") {
    margin-top: prem(14);
  }
}

.company-massage__contents-text {
  font-size: prem(16);
  font-weight: $regular;
  letter-spacing: 0em;
  line-height: 2;
  font-feature-settings: "palt";
}

.company-massage__contents-text+.company-massage__contents-text {
  margin-top: prem(31);

  @include mq("md") {
    margin-top: prem(24);
  }
}

// .company-vision:after {
//   content: "";
//   position: absolute;
//   background-image: url(../images/bg-sdgs.svg);
//   background-size: 100%;
//   background-repeat: no-repeat;
//   background-position: center;
//   width: prem(2347);
//   height: 1226px;
//   top: -103;
//   left: -324;
//   z-index: -1;
// }

.company-vision {
  position: relative;
}

.layout-company-vision {
  margin-top: prem(282);

  @include mq("md") {
    margin-top: prem(198);
  }
}

.company-vision__inner.inner {
  max-width: prem(1250);

  @include mq("md") {
    padding-left: prem(15);
    padding-right: prem(15);
    max-width: none;
  }
}

.company-vision__title {}

.company-vision__text {
  margin-top: prem(27);
  line-height: 1.9;
  letter-spacing: -0.02em;

  @include mq("md") {
    margin-top: prem(25);
    font-size: prem(17);
    letter-spacing: 0.04em;
    line-height: 1.87;
  }
}

.company-vision__contents {
  display: flex;
  margin-top: prem(66);

  @include mq("md") {
    margin-top: prem(43);
    flex-direction: column;
  }
}

.company-vision__img {
  max-width: prem(443);
  width: 100%;
  padding-top: prem(2);

  @include mq("md") {
    max-width: prem(336);
    margin-right: auto;
    margin-left: auto;
  }
}

.company-vision__img img {
  aspect-ratio: 435/582;
  object-fit: cover;
  height: auto;
}

.company-vision__list {}

.company-vision__item {
  position: relative;
  padding-left: prem(81);
  padding-bottom: prem(32);
  border-bottom: prem(2) $color-blue3 dashed;

  @include mq("md") {
    padding-left: prem(66);
    padding-top: prem(36);
    padding-bottom: prem(26);
  }
}

.company-vision__item+.company-vision__item {
  margin-top: prem(32);

  @include mq("md") {
    margin-top: prem(0);
  }
}

.company-vision__item-title {
  font-size: prem(20);
  font-weight: $bold;
  letter-spacing: 0.04em;
  line-height: 1.6;
  color: $color-blue3;
}

.company-vision__item-list {
  margin-top: prem(8);
}

.company-vision__item-list li {
  font-size: prem(16);
  font-weight: $regular;
  letter-spacing: 0.04em;
  line-height: 1.6;

  @include mq("md") {
    font-feature-settings: "palt";
  }
}

.company-vision__item-list li:not(:first-child) {
  margin-top: prem(8);
}

.company-vision__item-category {
  position: absolute;
  left: prem(18);
  writing-mode: vertical-rl;
  text-transform: capitalize;
  font-size: prem(20);
  font-weight: $bold;
  letter-spacing: 0.04em;
  line-height: 1.6;
  color: $color-blue6;
  top: 0;

  @include mq("md") {
    left: 0;
    top: prem(37);
  }
}

.layout-company-organization {
  margin-top: prem(197);

  @include mq("md") {
    margin-top: prem(103);
  }
}

.company-organization__inner.inner {
  max-width: prem(1130);

  @include mq("md") {
    max-width: prem(1200);
  }
}

.wrap {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.company-organization__img {
  margin-top: prem(50);

  @include mq("md") {
    margin-top: prem(37);
    width: 100vw;
    width: prem(571);
  }
}

.company-organization__img img {
  aspect-ratio: 1080/925;
  object-fit: cover;
  height: auto;
  width: 100%;

  @include mq("md") {
    aspect-ratio: 580/487;
  }
}

.layout-company-access {
  margin-top: prem(179);

  @include mq("md") {
    margin-top: prem(174);
  }
}

.company-access__map {
  margin-top: prem(79);

  @include mq("md") {
    margin-top: 0;
  }
}

.company-access__inner.inner {
  max-width: prem(1250);

  @include mq("md") {
    padding-left: prem(15);
    padding-right: prem(15);
    max-width: none;
  }
}

.company-access__contents {
  margin-top: prem(65);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include mq("md") {
    flex-direction: column;
  }
}

.company-access__img {
  width: 100%;
  max-width: prem(560);
}

.company-access__img img {
  aspect-ratio: 560/320;
  object-fit: cover;
  height: auto;
  border-radius: prem(8);

  @include mq("md") {
    aspect-ratio: 358/205;
  }
}

.company-access__text-wrap {
  width: 100%;
  max-width: prem(560);
  padding-top: prem(13);

  @include mq("md") {
    padding-top: prem(33);
  }
}

.company-access__how {
  display: inline-block;
  padding: prem(8) prem(16);
  background-color: $color-blue2;
  font-size: prem(12);
  font-weight: $bold;
  letter-spacing: 0.04em;
  line-height: 1;
  color: $color-white;
  border-radius: prem(8);

  @include mq("md") {
    padding: prem(8) prem(16);
  }
}

.company-access__how:nth-of-type(1) {}

.company-access__how:nth-of-type(2) {
  margin-top: prem(19);
}

.company-access__text-wrap>.company-access__how:nth-child(2) {
  margin-top: prem(50);

  @include mq("md") {
    margin-top: prem(10);
  }
}

.company-access__text {
  margin-top: prem(10);
  font-size: prem(15);
  font-feature-settings: "palt";
  letter-spacing: -0.08em;
  line-height: 1.7;

  @include mq("md") {
    margin-top: prem(10);
    line-height: 1.7;
    letter-spacing: -0.08em;
  }
}

.company-access__how:nth-child(2) {
  margin-top: prem(15);
}

.company-access__btn {
  text-transform: capitalize;
  margin-top: prem(50);
  width: prem(500);

  @include mq("md") {
    margin-top: prem(33);
    width: 100%;
  }
}

.company-access__btn .button-container {
  width: prem(258);
}

.company-access__btn .button-text {
  text-transform: capitalize;
  margin-right: prem(30);
}

.company-access__googlemap {
  margin-top: prem(50);

  @include mq("md") {
    margin-top: prem(10);
  }
}

////////////////////TAB///////////////////////

.company-access__tab {
  display: flex;
  grid-area: prem(20);
  align-items: flex-start;

  @include mq("md") {
    flex-direction: column;
  }
}

.company-access__tab.item .tab__content {
  margin-top: prem(0);
}

.tab__menu {
  display: flex;
  flex-direction: column;
  border: $color-gray08 1px solid;
  border-radius: prem(8);
  max-width: prem(220);

  @include mq("md") {
    flex-direction: row;
  }
}

.company-access__tab.tab .tab__content {
  @include mq("md") {
    overflow-x: scroll
  }
}

.company-access__tab.tab .tab__content-item {
  @include mq("md") {
    width: prem(880);
  }
}

.company-access__tab.tab .tab__menu-item::before,
.company-access__tab.tab .tab__menu-item.is-active::before {
  display: none;
}

.company-access__tab.tab .tab__menu-item {
  padding: prem(19) prem(106) prem(19) prem(0);

  @include mq(md) {
    padding: prem(15) prem(0) prem(13) prem(0);
    font-size: prem(13);
  }
}

.tab__menu-item {
  padding: prem(19) prem(126) prem(19) prem(7);
  font-size: prem(14);
  font-weight: $bold;
  letter-spacing: 0.04em;
  line-height: 1.6;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  position: relative;
  padding-left: prem(20);
  width: 100%;
  font-feature-settings: "palt";

  // border-bottom: $color-gray08 1px solid;
  @include mq(md) {
    padding: prem(15) prem(0) prem(13) prem(0);
    font-size: prem(13);
  }
}

.tab__menu-item+.tab__menu-item {
  border-top: 1px solid $color-gray08;
  padding-left: prem(20);

  @include mq(md) {
    font-size: prem(13);
    border-top: none;
    border-left: $color-gray08 1px solid;
  }
}

.tab__menu-item.is-active .tab__menu-item.is-active {
  color: #73b2c8;
  padding-left: prem(20);

  @include mq(md) {
    font-size: prem(13);
  }
}

.tab__menu-item::before {
  position: absolute;
  content: "";
  width: prem(4);
  height: prem(4);
  left: prem(20);
  top: 50%;
  transform: translateY(-50%);
  background-color: $color-gray05;
  border-radius: 50%;

  @include mq("md") {
    left: prem(9);
  }
}

.tab__menu-item span {
  display: inline-block;
  padding-left: prem(14);
  position: relative;
}

.tab__menu-item span::before {
  position: absolute;
  content: "";
  width: prem(4);
  height: prem(4);
  left: prem(0);
  top: 50%;
  transform: translateY(-50%);
  background-color: $color-gray05;
  border-radius: 50%;
}

.tab__menu-item.is-active span {
  padding-left: prem(16);
  color: #73b2c8;
}

.tab__menu-item.is-active span::before {
  background-color: #73b2c8;
  width: prem(8);
  height: prem(8);
}

.guideline__tab.tab .tab__menu-item,
.recruit-question__tab.tab .tab__menu-item {
  border: none;

  @include mq("md") {
    padding: 0;
    width: auto;
  }
}

.guideline__tab.tab .tab__menu-item {
  padding: prem(19) prem(34) prem(19) prem(7);
}

.recruit-question__tab.tab .tab__menu-item {
  padding: prem(19) prem(0) prem(19) prem(13);
  padding-left: prem(13);

  @include mq("md") {
    padding: 0;
  }
}

.recruit-question__tab.tab .tab__menu-item {
  padding-left: prem(17);
}

.guideline__tab.tab .tab__menu-item::before,
.recruit-question__tab.tab .tab__menu-item::before {
  @include mq("md") {
    display: none;
  }
}

.tab__menu-item.is-active::before {
  background-color: #73b2c8;
  width: prem(8);
  height: prem(8);
  left: prem(18);

  @include mq("md") {
    left: prem(9);
  }
}

.tab__content {
  @include mq("md") {
    margin-top: prem(20);
  }
}

.tab__content-item {
  display: none;
  width: 100%;
  max-width: prem(880);
}

.company-access__tab.tab .tab__content-item {
  // display: none;
  width: 100%;
  max-width: prem(880);

  @include mq("md") {
    width: 1000px;
  }
}

.tab__content-item-img img {
  aspect-ratio: 880/378;
  object-fit: cover;
  height: auto;
}

.tab__content-item.is-active {
  display: block;
  animation: fade 0.3s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.company-access__tab.tab {
  gap: prem(77);

  @include mq("md") {
    gap: prem(20);
  }
}

.company-access__tab.tab .tab__content {
  max-width: prem(880);
  width: 100%;

  @include mq("md") {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    // flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 0;
  }
}

.guideline__tab.tab .tab__content {
  max-width: prem(880);
  width: 100%;

  @include mq("md") {
    padding: 0;
  }
}

.test-wrap {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.company-access__tab.tab .tab__menu-wrap .tab__menu-title {
  font-size: prem(21);
}

.company-access__tab.tab .tab__menu-wrap .tab__menu {
  margin-top: prem(18);
  max-width: prem(241);
  width: 100%;

  @include mq("md") {
    // border: none;
    max-width: none;
    margin-top: prem(10);
  }
}

.company-access__tab.tab .tab__menu-wrap {
  max-width: prem(241);
  width: 100%;

  @include mq("md") {
    margin-top: prem(56);
    max-width: none;
  }
}

.company-access__tab.tab .tab__content .tab__content-item img {
  aspect-ratio: 880/378;
  object-fit: cover;
  width: 100%;
}

.recruit-question {
  padding-top: prem(110);
  padding-bottom: prem(140);
  background-color: $color-gray06;

  @include mq("md") {
    padding-bottom: prem(100);
  }
}

.recruit-question__tab.tab {
  display: flex;
  gap: prem(24);

  @include mq("md") {
    flex-direction: column;
    gap: prem(0);
  }
}

.recruit-question__tab.tab .tab__menu-item {
  text-align: left;
}

.recruit-question__tab.tab .tab__menu-item::before {
  left: prem(8);
}

.guideline__tab.tab {
  display: flex;
  gap: prem(109);

  @include mq("md") {
    gap: 0;
    flex-direction: column;
  }
}

.guideline__tab.tab .tab__menu {
  background-color: $color-white;

  @include mq("md") {
    background-color: $color-blue14;
  }
}

.guideline__tab.tab .tab__content {
  border-top: $color-gray04 1px solid;
}

.guideline__tab.tab .tab__menu-wrap,
.recruit-question__tab.tab .tab__menu-wrap {
  text-align: left;
  max-width: prem(240);

  @include mq("md") {
    max-width: none;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    padding: prem(0);
  }
}

.recruit-question__tab.tab .tab__menu-wrap {
  padding: prem(18) prem(30) prem(20) prem(39);

  @include mq("md") {
    padding: 0;
  }
}

.recruit-question__tab.tab .tab__content {
  max-width: prem(880);
  width: 100%;
}

.recruit-question__tab.tab .tab__content .tab__content-item {
  @include mq("md") {
    width: 100%;
    padding: 0;
  }
}

.guideline__tab.tab .tab__menu-item.is-active,
.recruit-question__tab.tab .tab__menu-item.is-active {
  left: 0;
  color: $color-blue;
}

.guideline__tab.tab .tab__menu-item+.tab__menu-item,
.recruit-question__tab.tab .tab__menu-item+.tab__menu-item {
  border-bottom: none;
  border-top: $color-gray08 1px solid;

  @include mq("md") {
    border: none;
  }
}

////////////////////HISTORY///////////////////////

.company-history {
  background-color: $color-gray01;
  padding-top: prem(66);
  padding-bottom: prem(50);
}

.layout-company-history {}

.company-history__inner.inner {
  width: 90%;
  max-width: prem(1250);
  margin-left: auto;
  margin-left: auto;
}

.company-history__text {
  font-size: prem(16);
  font-weight: $regular;
  letter-spacing: 0em;
  line-height: 2;
  margin-top: prem(50);

  @include mq("md") {
    margin-top: prem(10);
  }
}

.company-history__list {
  // margin-right: calc(50% - 50vw);
  // padding: prem(62) prem(32);
  // background-color: $color-white;
  // display: flex;
  // margin-top: prem(63);
  // margin-bottom: 20px;
  // @include mq("md") {
  //   margin-top: prem(10);
  //   gap: prem(30);
  // }
}

.company-history__item {
  padding-left: prem(35);
  padding-right: prem(35);
  flex-shrink: 0;
  width: prem(265);
  position: relative;

  @include mq("md") {
    padding-left: prem(15);
    padding-right: prem(15);
    flex-shrink: 0;
    width: prem(200);
  }
}

.company-history__item::before {
  content: "";
  position: absolute;
  height: prem(175);
  width: prem(2);
  background-color: $color-gray02;
  right: 10%;
}

.company-history__item:not(:first-child) {
  border-left: prem(1) solid $color-gray01;
}

.company-history__number {
  display: flex;
  align-items: center;
  gap: prem(11);
  padding-bottom: prem(31);
  position: relative;
  font-size: prem(32);
  font-weight: $bold;
  letter-spacing: 0em;
  line-height: 1;
  color: $color-blue7;
  margin-right: prem(20);

  @include mq("md") {
    padding-bottom: prem(20);
  }
}

.company-history__number span {
  display: inline-block;
  font-size: prem(16);
  font-weight: $bold;
  letter-spacing: 0em;
  line-height: 1;
  color: $color-blue7;
}

.company-history__number::after {
  content: "";
  height: prem(1);
  width: prem(42);
  background-color: $color-blue2;
  position: absolute;
  bottom: 0;
  left: 0;

  @include mq("md") {
    width: prem(10);
  }
}

.company-history__text {
  margin-top: prem(26);
  font-feature-settings: "palt";

  @include mq("md") {
    margin-top: prem(10);
  }
}

.js-history-swiper .swiper-scrollbar-wrapper {
  height: prem(100);
}

.js-history-swiper .swiper-scrollbar {
  margin-bottom: prem(50);
}

.js-history-swiper .swiper-scrollbar-drag {
  height: 80px;
  width: 79px;
  position: relative;

  border-radius: 78%;
  left: 0;
  top: -40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/detail/company-button.svg);
}


.history-swiper .swiper-scrollbar-wrapper {
  height: 6.25rem;
  margin-top: 75px;
  margin-right: calc(50% - 50vw);
}

.history-swiper .swiper-scrollbar {
  margin-bottom: prem(50);
  position: static;
}

.history-swiper .swiper-scrollbar-drag {
  height: 80px;
  width: 79px;
  position: relative;

  border-radius: 78%;
  left: 0;
  top: -40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/detail/company-button.svg);
}











.js-history-swiper {
  margin-right: calc(50% - 50vw);
  padding-top: prem(34);

  background-color: $color-white;
  display: flex;
  margin-top: prem(63);
  margin-bottom: 20px;

  @include mq("md") {
    margin-top: prem(10);
    gap: prem(30);
  }
}

.company-plan {}

.layout-company-plan {
  margin-top: prem(120);

  @include mq("md") {
    margin-top: prem(120);
  }
}

.company-plan__inner.inner {
  max-width: prem(1300);
}

.company-plan__title {}

.company-plan__text {
  margin-top: prem(23);

  @include mq("md") {
    margin-top: prem(20);
  }
}

.company-group {
  padding-bottom: prem(200);

  @include mq("md") {
    padding-bottom: prem(100);
  }
}

.layout-company-group {
  margin-top: prem(120);

  @include mq("md") {
    margin-top: prem(120);
  }
}

.company-group__inner.inner {
  max-width: prem(1250);
}

.company-group__content {
  padding-top: prem(54);
  padding-bottom: prem(30);

  @include mq("md") {
    padding-top: prem(30);
    padding-bottom: prem(30);
  }
}

.company-group__content-inner {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.company-plan__btn {
  margin-top: prem(50);

  @include mq("md") {
    margin-top: prem(20);
  }
}

.company-group__contents {
  display: flex;
  gap: prem(20);
  align-items: flex-start;
  margin-top: prem(65);

  @include mq("md") {
    flex-direction: column;
    margin-top: prem(40);
  }
}

.company-group__content {
  background-color: $color-blue8;
  width: 100%;
  max-width: prem(588);
}

.company-group__title {
  font-size: prem(20);
  font-weight: $bold;
  letter-spacing: 0.04em;
  line-height: 1.8;
  margin-top: prem(24);

  @include mq("md") {
    margin-top: prem(20);
  }
}

.company-group__text {
  font-size: prem(16);
  font-weight: $regular;
  letter-spacing: 0em;
  line-height: 2;
  margin-top: prem(14);

  @include mq("md") {
    margin-top: prem(20);
  }
}

.layout-company {
  margin-top: prem(372);

  @include mq("md") {
    margin-top: prem(200);
  }
}

.company__inner.inner {
  @include mq("md") {
    padding-left: prem(15);
    padding-right: prem(15);
    max-width: none;
  }
}

.company__profile.company-profile--group .company-profile__list .company-profile__term {
  font-size: prem(16);
  font-weight: $regular;
  letter-spacing: 0.04em;
  line-height: 0;
  color: $color-blue3;
  font-size: prem(16);
}

.company-group__inner.inner {
  @include mq("md") {
    padding-left: prem(15);
    padding-right: prem(15);
    max-width: none;
  }
}

.company-group__content-inner .company__profile {
  margin-top: prem(50);

  @include mq("md") {
    margin-top: prem(32);
  }
}

.company-profile.company-profile--group .company-profile__list:last-child {
  border-bottom: none;
}

//test--------------------------------

.company-group__content-inner .company__profile .company-profile__list .company-profile__term {
  max-width: prem(175);
  font-weight: $bold;
}

.company-group__content-inner .company__profile .company-profile__list .company-profile__description {
  font-size: prem(17);
  line-height: 1.47;
  font-feature-settings: "palt";
}

.company-group__content-inner .company__profile .company-profile__list {
  padding-bottom: prem(31);
}

.company-group__content-inner .company__profile .company-profile__list:not(:first-child) {
  padding-top: prem(19);
}

.recruit-question__ {}

.guideline__tab.tab .tab__menu .recruit-question__tab.tab .tab__menu {
  @include mq("md") {
    border: none;
    justify-content: space-between;
  }
}

.guideline__tab.tab .tab__menu-wrap,
.recruit-question__tab.tab .tab__menu-wrap {
  @include mq("md") {
    max-width: none;
  }
}

.recruit-question__inner {}

.guideline__tab.tab .tab__menu-wrap,
.recruit-question__tab.tab .tab__menu-wrap {
  width: 100%;
}

.guideline__tab.tab .tab__menu {
  @include mq("md") {
    border: none;
    max-width: none;
    justify-content: flex-start;
  }
}

.recruit-question__tab.tab .tab__menu {
  @include mq("md") {
    border: none;
    max-width: none;
    justify-content: space-between;
  }
}

.guideline__tab.tab .tab__menu-wrap,
.recruit-question__tab.tab .tab__menu-wrap {
  width: 100%;

  @include mq("md") {
    max-width: none;
  }
}

// ・・・・・・
.news-list__item+.news-list__item {
  margin-top: prem(24);
}

.news-list__item a {
  display: flex;
}

// .news-list__item-img {
//   max-width: prem(130);
//   width: 100%;
//   flex-shrink: 0;
//   @include mq(md) {
//     max-width: prem(200);
//   }
// }

// .news-list__item-img img {
//   width: 100%;
//   aspect-ratio: 195/160;
//   object-fit: cover;
// }

// .news-list__item-content {
//   margin-left: prem(15);
//   @include mq(md) {
//     margin-left: prem(70);
//   }
// }

.news-list__item-meta {
  display: flex;
  align-items: center;
}

.news-list__item-date {
  font-size: prem(13);
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.news-list__item-category {
  margin-left: prem(20);
  padding: prem(5);
  min-width: prem(80);
  width: fit-content;
  font-size: prem(12);
  line-height: 1;
  color: $color-blue3;
  background-color: $color-gray02;
  text-align: center;
}

.news-list__item-title {
  margin-top: prem(12);
  font-size: prem(15);
  line-height: 1.5;

  @include mq("md") {
    line-height: 1.8;
    margin-top: 9px;
  }
}

.md-hide {
  display: none;
}