@use "../foundation" as *;

.layout-contact-confirm {
  margin-top: prem(160);
}

.contact-complete__text {
  font-size: prem(15);
  font-weight: $regular;
  letter-spacing: 0em;
  line-height: 2;
}

.contact-complete__btn {
  margin-top: prem(48);
}

.contact-complete__btn .button-text {
  margin-right: prem(96);
}
